build/*.js
config/*.js
src/assets
src/App.vue
src/permission.js
src/store/*
src/utils/*
src/components/*
src/views/dashboard/*
src/views/editor/*
src/views/fileConfig/*
src/views/layout/*
src/views/log/*
src/views/login/*
src/views/menuManage/*
src/views/modifyPassword/*
src/views/ruleManage/*
src/views/ruleParamsManage/*
src/views/table/*
src/views/templateManage/*
src/views/treeDataDicManage/*
src/views/userManage/*
src/views/userRoleManage/*
src/views/userSet/*
src/views/versionCheck/*
src/views/404.vue
src/views/cardGroupManage/index.vue
src/views/cardGroupManage/orderCheck.vue
src/views/cardGroupManage/orderDetail.vue
src/views/retailOrderManage/index.vue
src/views/retailOrderManage/retailOrder.vue
src/api/*